body {
    font-family: Inter, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color:rgb(95, 158, 24); /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
}

h1 {
    
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
    
}

h1:hover {animation: color-change 6s infinite;}

h2 {color:pink}


@keyframes color-change {
    0% {
      color: yellow;
    }
  
    25% {
      color: pink;
    }
  
    50% {
      color: blue;
    }
    75% {
        color: pink;
      }
    100% {
        color: yellow;
      }
}